<!DOCTYPE html>
<html>
<head>
    <title>My Webpage</title>
    <link type="text/css" rel="stylesheet" href="{{ asset('main.min.css', 'css') }}">
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>
<script type="text/javascript" src="{{ asset('main.min.js', 'js') }}"></script>
</body>
</html>