{% extends "template.twig" %}

{% block content %}
    This will adf <span data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">adfadreturn</span> a list of messages
    Tooltip on right
    Copy
    <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button>

{% endblock %}